<!-- <div class="container-fluid">
    <div class="mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>photo Id</td>
                    <td>Preview</td>
                    <th>Camera</th>
                    <th>Rover</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of MarsObject.photos">
                    <td>{{item.id}}</td>
                    <td>
                        <img width="100" height="100" [src]="item.img_src">
                    </td>
                    <td>
                        {{item.camera.full_name}}
                    </td>
                    <td>
                        {{item.rover.name}}
                    </td>

                </tr>
            </tbody>

        </table>

    </div>

</div> -->


<!-- 
<div class="container-fluid">
    <div class="mt-4 d-flex flex-wrap">
        <div *ngFor="let item of MarsObject.photos" class="card p-2 m-2" style="width:200px">
          <img src="item.img_src" class="card-img-top" height="180">
          <div class="card-header">
            <h3>{{item.id}}</h3>

          </div>

          <div class="card-body">
            <dl>
                <dt>camera name</dt>
                <dd>{{item.camera.full_name}}</dd>
                <dt>Rover Name</dt>
                <dd>{{item.rover.name}}</dd>
            </dl>

          </div>
        </div>

    </div>

</div> -->
<div class="container-fluid">
<div class="card" style="width: 18rem;">
    <div *ngFor="let item of MarsObject.photos" class="card p-2 m-2" style="width:200px">
    <img [src]="item.img_src" class="card-img-top" height="180" width="150">
    <div class="card-header">
        <h3>{{item.id}}</h3>
    </div>
    <div class="card-body">
        <div class="card-body">
            <dl>
                <dt>camera name</dt>
                <dd>{{item.camera.full_name}}</dd>
                <dt>Rover Name</dt>
                <dd>{{item.rover.name}}</dd>
            </dl>

          </div>
    </div>
  </div>
</div>