<div class="container-fluid">
    <div class="mt-4">
      <table class="table table-hover">
        <thead>
            <tr>
                <th>Preview</th>
                <th>Index</th>
                <th>First</th>
                <th>Last</th>
                <th>Even</th>
                <th>Odd</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Product;let i=index  ">
                <td><img [src]="item.image"  width="100" height="100"></td>
                

            </tr>
            
        </tbody>

      </table>
    </div>

</div>